@using DiplomaManagementSystem.Application
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Secretary" asp-controller="Dashboard" asp-action="Index">@SecretaryPageTitles.Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Secretary" asp-controller="Documents" asp-action="TopicOrder">@SecretaryPageTitles.TopicOrder</a>
</li>